name: Release Package

on:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: write

jobs:
  release:
    name: Release Package
    uses: juitnow/workflows-public/.github/workflows/release-db.yml@main
    secrets: inherit
